<div class="panel-body">
    <a href="{% url "main:detail_profile" pk=tweet.author.id %}">
        <img class="img-circle img-bordered-primary" src="{{ tweet.author.photo }}" alt="" width="65px" height="65px">
    </a>
    <h5 class="semibold ellipsis nm"><a href="{% url "main:detail_profile" pk=tweet.author.user.id %}">{{ tweet.author.name }}</a></h5>
    <small class="text-muted">{{ tweet.date.astimezone }}</small>
</div>


{{ tweet.text }}
<br>
{% if tweet.photo %}
    <img src=" {{ tweet.photo }}" height=100>
<br>
{% endif %}
Likes: {{ tweet.likedBy.count }}
<br>
<br>