{% extends "base.html" %}

{% block title %} Profilo di {{ profile }} {% endblock %}

{% block content %}
    {% if profile.user == user %}
        <form action="{% url 'main:update_profile' pk=profile.id%}">
            {% csrf_token %}
            <button type="submit" class="btn btn-info">Aggiorna il tuo profilo</button>
        </form>
    {% endif %}
    <img src="{{ profile.photo.url }}" height=100>
    <br>
    Nome: {{ profile.name }}
    <br>
    Email: {{ profile.user.email }}
    <br>
    {% if profile.bio %}
        Bio: {{ profile.bio }}
    {% endif %}
    <br>
    <br>
    <h4>Tweets di {{ profile.name }}</h4>
    {% if tweets.count > 0 %}
    {% for tweet in tweets %}
    	{% include 'tweet.html' with number_of_likes=tweet.number_of_likes post_is_liked=tweet.post_is_liked page='Profile' pk=profile.user.id%}
    {% endfor %}
    {% else %}
        L'utente non ha ancora pubblicato tweet
    {% endif %}

 {% endblock %}
