{% extends "base.html" %}

{% block title %} Profilo di {{ profile }} {% endblock %}

{% block content %}
    {% if profile.user == user %}
        <form action="{% url 'main:update_profile' pk=profile.id%}">
            {% csrf_token %}
            <button type="submit" class="btn btn-info">Aggiorna il tuo profilo</button>
        </form>
    {% else %}
    {% if user.is_authenticated %}
        <form action="{% url 'main:follow' pk=profile.user.id %}" method="POST">
            {% csrf_token %}
            {% if is_following %}
                <button type="submit" name="profile_id" value="{{profile.id}}" class="btn btn-info">Smetti di seguire</button>
            {% else %}
                <button type="submit" name="profile_id" value="{{profile.id}}" class="btn btn-info">Segui</button>
            {% endif %}
        </form>
    {% else %}
        <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Fai il login per seguire questo profilo</a><br>
    {% endif %}

    {% endif %}

    <img src="{{ profile.photo.url }}" height=100 alt="">
    <br>
    Nome: {{ profile.name }}
    <br>
    Email: {{ profile.user.email }}
    <br>
    {% if profile.bio %}
        Bio: {{ profile.bio }}
    {% endif %}
    <br>
    <br>
    <h4>Tweets di {{ profile.name }}</h4>
    {% if tweets.count > 0 %}
    {% for tweet in tweets %}
    	{% include 'tweet.html' with page='Profile' pk=profile.user.id%}
    {% endfor %}
    {% else %}
        L'utente non ha ancora pubblicato tweet
    {% endif %}

 {% endblock %}
